<!DOCTYPE html>
<html>

<head>
  <title>Coachfinder</title>
</head>
<body>
  {% include "_nav.html" %}

  <h1>Coachfinder</h1>

  {% if session.username %}
  <p>Hei {% if profile.display_name %}{{ profile.display_name }}{% endif %}! Olet kirjautunut tunnuksella {{ session.username }}, id-numerosi on {{ session.user_id }}.
  </p>
  {% endif %}

  <h2>Ilmoitukset</h2>
  <ul>
  {% for announcement in announcements %}
    <li>
    <a href="/announcement/{{ announcement.id }}">
      <strong>{{ announcement.sport }}</strong>{% if announcement.display_name %} - {{ announcement.display_name }}{% endif %}
    </a>
      — {{ announcement.city }}
      (ikäryhmä: {{ announcement.age_group }}, taso: {{ announcement.skill_level }})<br>
      <small>{{ announcement.description }}</small>
    </li>
  {% endfor %}
  </ul>
</body>
</html>