<!DOCTYPE html>
<html lang="fi">

<head>
  <title>{% block title %}Coachfinder{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header class="header">
    <h1>Coachfinder</h1>
  </header>

  <nav class="nav">
    <ul>
      <li><a href="/">Etusivu</a></li>
      {% if session.user_id %}
      <li><a href="/find_announcement">Etsi ilmoitus</a></li>
      <li><a href="/choose_announcement_type">Uusi ilmoitus</a></li>
      <li><a href="/messages">Viestit</a></li>
      <li><a href="/messages/new">Uusi viesti</a></li>
      <li><a href="/profile">Profiili</a></li>
      <li><a href="/logout">Kirjaudu ulos</a></li>
      {% else %}
      <li><a href="/login">Kirjaudu sisään</a></li>
      <li><a href="/register">Luo tunnus</a></li>
      {% endif %}
    </ul>
  </nav>

  <main class="content">
    {% for message in get_flashed_messages() %}
    {% if message.startswith('VIRHE:') %}
    <div class="error">
      {{ message }}
    </div>
    {% elif message.startswith('Oppilasilmoitus luotu onnistuneesti') or message.startswith('Valmentajailmoitus luotu onnistuneesti') or message.startswith('Ikäryhmä päivitetty ja oppilasilmoitus') %}
    <div class="success">
      {{ message }}
    </div>
    {% else %}
    <p>
      <b>{{ message }}</b>
    </p>
    {% endif %}
    {% endfor %}
    {% block content %}{% endblock %}
  </main>
</body>

</html>
