{% extends "layout.html" %}

{% block title %}{{ announcement.sport }}{% endblock %}

{% block content %}
<h2>{{ announcement.sport }}{% if session.user_id %}{% if session.user_id == announcement.user_id %}{% if announcement.display_name %} - <a href="/profile">{{ announcement.display_name }}</a>{% else %} - <a href="/profile">{{ announcement.username }}</a>{% endif %}{% else %}{% if announcement.display_name %} - <a href="/profile/{{ announcement.user_id }}">{{ announcement.display_name }}</a>{% else %} - <a href="/profile/{{ announcement.user_id }}">{{ announcement.username }}</a>{% endif %}{% endif %}{% else %}{% if announcement.display_name %} - {{ announcement.display_name }}{% else %} - {{ announcement.username }}{% endif %}{% endif %}</h2>

{% if session.user_id == announcement.user_id %}
<p>
<a href="/edit_announcement/{{ announcement.id }}">Muokkaa</a> |
<a href="/remove_announcement/{{ announcement.id }}">Poista</a>
</p>
{% endif %}

<div class="announcement">
  <p><strong>Laji:</strong> {{ announcement.sport }}</p>
  <p><strong>Paikkakunta:</strong> {{ announcement.city }}</p>
  {% if announcement.classes %}
  {% for class in announcement.classes %}
  <p><strong>{{ class.title }}:</strong> {{ class.value }}</p>
  {% endfor %}
  {% endif %}
  <div class="description">
    <strong>Kuvaus:</strong> {{ announcement.description }}
  </div>
</div>
{% endblock %}
 