<!DOCTYPE html>
<html>
<head>
  <title>{{ announcement.sport }}</title>
</head>
<body>
  {% include "_nav.html" %}
  <h1>{{ announcement.sport }}{% if announcement.display_name %} - <a href="/profile/{{ announcement.user_id }}">{{ announcement.display_name }}</a>{% else %} - <a href="/profile/{{ announcement.user_id }}">{{ announcement.username }}</a>{% endif %}</h1>
  {% if session.user_id == announcement.user_id %}
  <p>
  <a href="/edit_announcement/{{ announcement.id }}">Muokkaa</a>
  <a href="/remove_announcement/{{ announcement.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    {{ announcement.title }}
  </p>
  <p>
    {{ announcement.city }}
  </p>
  <p>
    {{ announcement.age_group }}
  </p>
  <p>
    {{ announcement.skill_level }}
  </p>
  <p>
    {{ announcement.description }}
</p>
</body>
</html>
 